#container {
    text-align: center;
}

.remote-video {
    margin: 2%;
}

#local-video {
    position: fixed;
    bottom: 0;
    right: 2%;
    height: 200px;
    width: 200px;
    z-index: 5;
}

video {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

input[type=button] {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: #0d2677;
    color: white;
    font-size: 18px;
    margin: 20px;
}

input[type=button]:disabled, input[type=button]:disabled:active {
    background-color: #484e57;
    color: #8f8f8f;
}

input[type=button]:active {
    background-color: #0a3e77;
}