<div class="chat-box" on-click="focusOnText">
  <div id="chat-box-handlers" on-click="minimize">
    {{#if !minimized}}
    <span>Chat</span>
    {{else}}
    <span>Last: "{{messages[messages.length - 1].message}}"</span>
    {{/if}}
    <span class="minimize-control">&minus;</span>
  </div>
  {{#!minimized}}
  <div id="chat-content">
    <ul id="message-container" class="message-container">
      {{#messages}}
      <li>
        <span>{{this.from.username}} </span>
        {{this.message}}
      </li>
      {{/messages}}
    </ul>

    <div class="text-container">
      <input id="text-field" placeholder="Message goes here..." type="text" value="{{message}}" on-keypress="send"/>
    </div>
  </div>
  {{/minimized}}
</div>